header {
    flex: 0 1 auto;
    background: tomato;
    min-height: 50px; 
  }

  section {
    display: flex;
    flex-flow: column;
    align-items:stretch;
    height: 100%;
  }
  div {
    flex: 1 1 auto;
    background: gold;
    overflow: auto;
  }
  footer {
    flex: 0 1 60px;
    background: lightgreen;
    /* fixes the footer: min-height: 60px; */
  }